name: SL3000 Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libssl-dev libncurses5-dev gawk gettext

    - name: Clone Source
      run: |
        git clone --depth=1 https://github.com/padavanonly/immortalwrt-mt798x openwrt

    - name: Setup Environment
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Create Config
      run: |
        cd openwrt
        echo "CONFIG_TARGET_mediatek_mt7981=y" > .config
        echo "CONFIG_TARGET_mediatek_mt7981_DEVICE_cmcc_rax3000m-nand-ubootmod=y" >> .config
        make defconfig

    - name: Download Packages
      run: |
        cd openwrt
        make download -j2

    - name: Compile
      run: |
        cd openwrt
        make -j2

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: openwrt/bin/targets/**/*
