name: Build Siluo SL-3000 ImmortalWrt Stable

on:
  workflow_dispatch:   # ✅ 只支持手动触发，不会因保存代码自动运行

env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: openwrt-24.10
  CONFIG_FILE: sl3000.config
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /etc/apt/sources.list.d/*
        sudo apt-get -qq update
        sudo apt-get -qq install -y build-essential git libncurses5-dev gawk gettext unzip file libssl-dev wget python3 ccache
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: Optimize disk space
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL /usr/share/swift
        sudo docker image prune --all --force
        sudo docker container prune --force
        sudo apt-get clean
        sudo apt-get autoremove --purge -y
        df -hT

    - name: Clone source code
      working-directory: /workdir
      run: |
        git clone $REPO_URL -b $REPO_BRANCH openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt

    - name: Load custom configuration
      run: |
        [ -e $CONFIG_FILE ] && cp $CONFIG_FILE openwrt/.config

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a

    - name: Apply custom branding
      run: |
        echo "Welcome to 司络 SL-3000 ImmortalWrt" | sudo tee openwrt/package/base-files/files/etc/banner
        cp $GITHUB_WORKSPACE/logo.jpeg openwrt/feeds/luci/themes/luci-theme-bootstrap/htdocs/luci-static/bootstrap/logo.png || true

    - name: Download package
      run: |
        cd openwrt
        make defconfig
        make download -j8
        find dl -size -1024c -exec rm -f {} \;

    - name: Compile the firmware
      run: |
        cd openwrt
        echo -e "$(nproc) threads compile"
        make -j$(nproc) || make -j1 V=s

    - name: Organize files
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: SL3000_firmware
        path: ${{ env.FIRMWARE }}

    - name: Release firmware
      uses: softprops/action-gh-release@v2.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: ${{ env.FIRMWARE }}/*
        name: Siluo-SL3000-ImmortalWrt-${{ github.run_number }}
        tag_name: Siluo-SL3000-${{ github.run_number }}
